body {
    background: rgb(42,101,115);
    background: linear-gradient(0deg, rgba(42,101,115,1) 0%, rgba(21,17,87,1) 70%);
}
.caja {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 130px;
    padding: 1em;
    margin: 5px;
}